.navbar{
    background-color:#ecbc0f;
}

.navbar-brand{
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.homePage h2{
    font-size: 25px;
    color: #ffffff ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0 60%;
}

.homePage button{

    height: 40px;
    font-weight: 500;
    background: #ecbc0f ;
    color:#ffffff;
    border-radius: 25px;
    border-color: #ffffff;
    cursor: pointer;
    transition: filter 0.7s;
    font-size: 20px;
    align-items: flex-end;
    margin: 0 0 0 45%;
}
    
.homePage button:hover{
    filter: brightness(0.9);
}

.fab{
    position: fixed;
    bottom:10px;
    right:10px;
}
  
.fab button{
    margin: 1px;
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: #ecbc0f;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
}

.produtos h1 {
    margin: 24px 24px 24px;
    font-size: 38px;
    color: #d9aa01 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.produtos table {
    margin: 10px;
    font-size: 20px;
    color: #303030 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color:#37352e70 ;
}
  
.solicitacao label{
    margin: 24px 24px 24px;
    font-size: 20px;
    color: #d9aa01 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
    
.solicitacao input{
    background-color: #f6ea7dbf;
    border-radius: 20px;
    border: none;
    height: 40px;
    color: #765c00;   
    align-items: center;
    width: 100px;
}

.solicitacao button{

    height: 40px;
    font-weight: 500;
    background: #ecbc0f ;
    color:#ffffff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: filter 0.7s;
    font-size: 20px;
    margin: 2%;

}
    
.solicitacao button:hover{
    filter: brightness(0.9);
}